.container{
    width:  70%;
    text-align: center;
    margin: auto;
}
.dice{
    text-align: center;
    display: inline-block;
    margin: 10px;
}
body{
    background-color: #042f4b;
    margin: 0;
}
h1{
    margin: 30px;
    color: #4ecca3;
    font-family: "Lobster", cursive;
    text-shadow:  5px 0 #232931;
    font-size:  4.5rem;
    text-align: center;
}
p{
    font-size: 2rem;
    color: #4ecca3;
    font-family: "Indie Flower", cursive;
}
img{
    width: 100%;
}
.bottom{
    padding-top: 30px;
}
.btn{
    background: #4ecca3;
    font-family: "Indie Flower", cursive;
    border-radius: 7px;
    color: #fff;
    font-size: 30px;
    padding: 16px 25px;
    text-decoration: none;
    border: none;
    transition: .3s;
}
.btn:hover{
    background: #232931;
    text-decoration: none;
}